
<div class="audio">
  <audio autoplay id="audio-player" src="audios/mr_trololo.mp3" type="audio/mp3" ></audio>
</div>

<div class="show_background" style="background-image: url(<%= asset_path 'clouds.svg' %>)"%>

<div class="links">
  <div class="wikis">
      <%= render partial: 'links/index', locals: {links: @links, wiki: @wikis} %>
      </div>
</div>



