/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require journal
 */

.sidebar {
   width: 125px;
   height: 100px;
   position: fixed;
   right: 45px;
   top: 300px;
   text-align: center;
}

.show_background {
    width: 70%;
    margin: auto;
    border:3px solid black;
    padding: 10px;
  }

.about_box {
    width: 50%;
    margin: auto;
    padding: 20px;
  }

.links {
    color: black;
  }

.instructions {
    color: black
  }  

.footer{
  background:orange;
  height:60px;
  color: black;
  width: 70%;
  margin: auto;
  border:3px solid black;
  padding: 10px;
}

/* Links */


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  text-align: center;  
  color: black;
}

a:link {
  color:#000;
} 




