<!DOCTYPE html>
<html>
<head>
  <title>RedditRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<audio autoplay id="audio-player" src="audios/mr_trololo.mp3" type="audio/mp3" controls="controls"></audio>


<%= yield %>


</body>
</html>
